@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 900;
  font-style: normal;
}

.section {
  @apply pt-[7rem] pb-[2rem];
}

.heading {
  @apply text-2xl font-bold absolute top-0 left-2;
}

.hero-ring {
  @apply absolute flex rounded-full  shadow-[0_0_70px_inset] shadow-slate-200;
}

.ring-div {
  @apply relative size-full rounded-full;
}

.dot {
  @apply absolute size-1.5 rounded-full bg-slate-950 bg-opacity-20;
}

.card {
  @apply bg-white rounded-lg shadow-lg;
}

.element-line {
  @apply relative pl-10 before:absolute before:bg-slate-900 before:w-[1px] before:h-full before:left-3 mb-4;
}

.link-button {
  @apply size-8 bg-white rounded-full hover:bg-red-500 active:bg-green-500;
}

@media (hover: hover) and (pointer: fine) {
  .show-hover {
    display: block;
  }
  .hide-hover {
    display: none;
  }
}

@media (hover: none) {
  .show-hover {
    display: none;
  }
  .hide-hover {
    display: block;
  }
}
